@font-face {
  font-family: 'CustomFont';
  src: url('./assets/canterbury/Canterbury.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;